body {
  background-color: black;
  overflow-x: hidden;
  
}
@font-face {
  font-family: Poppins;
  src: url("assets/poppins/Poppins-Medium.otf") format("opentype");
}
@font-face {
  font-family: Poppins-r;
  src: url("assets/poppins/Poppins-Regular.otf") format("opentype");
}
@font-face {
  font-family: Poppins-l;
  src: url("assets/poppins/Poppins-Light.otf") format("opentype");
}
@font-face {
  font-family: Inter;
  src: url("assets/Inter/static/Inter-Medium.ttf") format("opentype");
}

img {
  padding: 9vw;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  color: white;
}
#th {
  width: 40vw;
}
#circles{
  position: absolute;
  top:-16vw;
  left:5vw;
  width:70vw;
}
.land {
  position: relative;
  height: 50vw;
  background-color: black;
}
.header {
  position: absolute;
  top: 1vw;
  align-items: center;
  width: 99.4%;
}
ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
li {
  font-size: 1.5vw;
  margin-left: 3vw;
  padding-right: 5vw;
  align-items: center;
  display: inline;
}
#log {
  position: absolute;
  right: 1vw;
  float: right;
}
a {
  color: white;
  text-decoration: none;
  font-family: Poppins
}

#button1 {
  box-sizing: border-box;
  color: white;
  height: 4vw;
  font-size: 1.4vw;
  background-color: rgba(255, 255, 255, 0);
  border: 2.78638px solid #ffffff;
  position: absolute;
  bottom: 8vw;
  width: 14vw;
  margin-left: 43%;
}
#button1:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#vallam {
  position: absolute;
  top: 59vw;
  width: 74vw;
}
#arcs{
  position: absolute;
  width:170vw;
  top:89vw;
  left: -40vw;
}
#gallerybg{
  position: absolute;
  width:1936px;
  height: 1125px;
  top:194vw;
  left: -30vw;
}
.about {
  width: 50%;
  position: relative;
  font-size: 1.5vw;
  padding-top: 5vw;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.about h1 {
  text-align: center;
  font-family:Poppins;
  font-style: normal;
}
.about p{
  font-family:Inter;
  text-align: center;
}
.contest {
  position: relative;
  padding-top: 90vw;
}
.contest h1 {
  color: white;
  font-size: 3vw;
  text-align: center;
  font-family: Poppins;
}
#card {
  padding-top: 0;
  width: 60vw;
}
.content {
  position: absolute;
  bottom: 18vw;
  width: 34vw;
  height: 30vw;
  left: 34vw;
}
.content h2 {
  text-align: center;
  font-family: Poppins;
  font-size: 1vw;
}
#name{
  font-size: 1.7vw;
  
}
#description{
  text-align: left;
  top:4vw;
  font-size:1.1vw;
  position: absolute;

}
.content p{
  padding-top: 3vw;
  font-size: 1.2vw;

}
#button2 {
  box-sizing: border-box;
  color: white;
  height: 4vw;
  font-size: 1.4vw;
  background-color: rgba(255, 255, 255, 0);
  border: 2.78638px solid #ffffff;
  position: absolute;
  bottom: 15vw;
  width: 14vw;
  margin-left: 42vw;
}
#right {
  position: absolute;
  right: 0;
  width:5vw;
  bottom: 20vw;
}

#left {
  position: absolute;
  left: 0;
  width:5vw;
  bottom: 20vw;
}

.gallery
{
width: auto;
font: 19px Arial;
margin-left: auto;
margin-right: auto;
}
.gallery1 h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
.gallery table, th, td
{
  max-width: 400px;
border: none;
border-collapse: collapse;
padding: 3px 4px;
text-align: center;
}

.gallery img
{
  padding: 0vw;
width: 300px;
}

.sponsors img
{
  padding: 0vw;
width: 300px;
}

#button3 {
  box-sizing: border-box;
  color: white;
  height: 4vw;
  font-size: 1.4vw;
  background-color: rgba(255, 255, 255, 0);
  border: 2.78638px solid #ffffff;
  position: absolute;
  width: 14vw;
  margin-left: 42vw;
}

.sponsors{
  width: 50%;
  position: relative;
  font-size: 1.5vw;
  padding: 5vw;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.sponsors h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;

}

.diamondspons {
  width: 100%;
  margin-right:0;
}

.sponsors table, th, td
{
border: none;
border-collapse: collapse;
padding: 2px 2px;
text-align: center;
}

.sponsors img{
  width:60%;
}

footer{
  height:30vw;
  position: relative;
}
footer img{
  width:1vw;
  padding:4vw;
}
#footer_logo{
  position: absolute;
  top: 3vw;
  width:20vw;
}
.connect{
  position: absolute;
  top:6vw;
  left: 38vw;
}
.connect h1{
  font-family: Poppins-r;
  font-size: 1.9vw;
  text-align: center;
}
.connect img{
  text-align: center;
  padding:0;
  padding-right: 2vw;
  margin:0;
  width:3vw;
  display: inline-block;
}
#insta{
  width:2.4vw ;
  padding-left: 2vw;
}
#mail{
  width:3.5vw;
}
.contact{
  position: absolute;
  top:6vw;
  font-family: poppins-r;
  right:10vw;
}
.contact h1{
  font-size: 1.9vw;
}
.contact h2{
  font-size: 1.5vw;
}
.bottom{
  font-family: poppins-l;
  font-size: .4vw;
  position: absolute;
  bottom:0;
  color:red;
  left:35vw;
  text-align: center;

}
.bottom span{
  color:white;
}
@media screen and (max-width:1024px) and (min-width:200px){
  body{
    overflow-x: hidden;
  }
  .header{
    top:-5.3vw;
    margin-left:-1vw;
    width:100vw;
  }
  ul{
    padding-top: 10vw;
    padding-left: 0;
  }
  li{
    padding-bottom: 5vw;
    font-size: 5vw;
    height:7vw;
    color:black;
  }
  #gal{
    display: none;
  }
  #log{
    position:relative;
  }
  #circles{
    width:0;
  }

  li a{
    color:rgb(255, 255, 255);
  }
  #l1{
    float:none;
  }
  img{
    padding-top: 50vw;
  }
  #th{
    width:90vw;
    padding:0;
    padding-top: 60vw;


  }
  .land{
    height:190vw;
  }
  #button1{
    width:30vw;
    height:10vw;
    bottom:56vw;
    font-size: 3vw;
    margin-left: 33vw;
  }
  #vallam{
    display: none;
  }
  #arcs{
    display: none;
  }
  .about{
    position:relative;
    top:50vw;
    width:80vw;
  }
  .about h1{
    font-size:9vw;
  }
  .about p{
    font-size: 4vw;
  }
  .contest{
    padding-top:180vw;
    height:120vw;
  }
  .contest h1{
    font-size: 12vw;

  }
  #card{
    width:85vw;
    padding:0;


  }
  .content{
    bottom:56vw;
    left:20vw;
    width:60vw;
    height:30vw;
    text-align: center;
  }
  #name{
    font-size: 3vw;
    position: absolute;
    text-align:center;
    width:50vw;
    top:6vw;
    left:3vw;
    margin-bottom:0;
  }
  #description{
    position: absolute;
    top:14vw;
    font-size:1.9vw;
  }
  #button2{
    width:20vw;
    font-size: 3vw;
    height:8vw;
    bottom:23.5vw;
    margin-left:38vw;
  }
  #right{
    width:10vw;
    bottom:-3vw;
  }
  #left{
    width:10vw;
    bottom:-3vw;
  }
  footer{
    height:60vw;
  }
  #footer_logo{
    width:35vw;
  }
  .connect{
    right:0;
  }
  .connect h1{
    font-size: 3.4vw;


  }
  .connect img{
    width:5vw;
  }
  #insta{
    width:4.4vw;
  }
  #mail{
    width:5.5vw;
  }
  .contact{
    top:25vw;
    right:30vw;
  }
  .contact h1{
    text-align: center;
    font-size: 3vw;
  }
  .contact h2{
    font-size:3vw;

  }
  .bottom{
    font-size: 1.3vw;
    left:17vw;
    width:60vw;
  }
  
  }



