body {
  background-color: black;
}
.pad {
  padding: 9vw;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  color: white;
}
#th {
  width: 40vw;
}
.land {
  position: relative;
  height: 50vw;
  background-color: black;
}
.header {
  position: absolute;
  top: 1vw;
  align-items: center;
  width: 99.4%;
}
ul {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
li {
  font-size: 1.9vw;
  margin-left: 3vw;
  padding-left: 3vw;
  align-items: center;
  display: inline;
}
#l1 {
  float: right;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

#button1 {
  box-sizing: border-box;
  color: white;
  height: 4vw;
  font-size: 1.4vw;
  background-color: rgba(255, 255, 255, 0);
  border: 2.78638px solid #ffffff;
  position: absolute;
  bottom: 8vw;
  width: 14vw;
  margin-left: 43%;
}
#button1:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#vallam {
  position: absolute;
  top: 45vw;
  width: 74vw;
}
.about {
  width: 50%;
  position: relative;
  font-size: 1.5vw;
  padding-top: 5vw;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.about h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
}
.contest {
  position: relative;
  padding-top: 70vw;
}
.contest h1 {
  color: white;
  font-size: 3vw;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
#card {
  padding-top: 0;
  width: 60vw;
}
.content {
  position: absolute;
  bottom: 12vw;
  width: 34vw;
  height: 30vw;
  left: 32vw;
}
.content h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5vw;
}
.content p{
  font-size: 1.2vw;
}
#button2 {
  box-sizing: border-box;
  color: white;
  height: 4vw;
  font-size: 1.4vw;
  background-color: rgba(255, 255, 255, 0);
  border: 2.78638px solid #ffffff;
  position: absolute;
  bottom: 15vw;
  width: 14vw;
  margin-left: 42vw;
}
#right {
  position: absolute;
  right: 0;
  width:5vw;
  bottom: 20vw;
}

#left {
  position: absolute;
  left: 0;
  width:5vw;
  bottom: 20vw;
}

.gallery
{
width: auto;
font: 19px Arial;
margin-left: auto;
margin-right: auto;
}
.gallery1 h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
.gallery table, th, td
{
  max-width: 400px;
border: none;
border-collapse: collapse;
padding: 3px 4px;
text-align: center;
}

.gallery img
{
width: 300px;
}

#button3 {
  box-sizing: border-box;
  color: white;
  height: 4vw;
  font-size: 1.4vw;
  background-color: rgba(255, 255, 255, 0);
  border: 2.78638px solid #ffffff;
  position: absolute;
  width: 14vw;
  margin-left: 42vw;
}

.sponsors{
  width: 50%;
  position: relative;
  font-size: 1.5vw;
  padding: 5vw;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.sponsors h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;

}

.diamondspons {
  width: 100%;
  margin-right:0;
}

.sponsors table, th, td
{
border: none;
border-collapse: collapse;
padding: 2px 2px;
text-align: center;
}

.sponsors img{
  width:60%;
}

.footer-distributed{
  border-top: 0.5px solid red;

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed .footer-left img{
  width:50%;

}

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed img {
  padding: 0;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 55px;
	height: 55px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


  .footer-distributed .footer-right{
    width: 20%;
  }

  /* .footer-right p{
    margin-top: 100px;
  } */
  





@media screen and (max-width:1024px) and (min-width:200px){
  body{
    overflow-x: hidden;
  }
  .header{
    overflow: hidden;
    top:-5.3vw;
    margin-left:-1vw;
    width:100vw;
  }
  ul{

    padding:0;
    background-color: rgb(254, 254, 254);
  }
  li{
    margin-left:2vw;
    padding-bottom: 5vw;
    font-size: 5vw;
    height:7vw;
    display:block;
    color:black;
  }

  li a{
    color:black;
  }
  #l1{
    float:none;
  }
  img{
    padding-top: 50vw;
  }
  #th{
    width:90vw;
    padding:0;
    padding-top: 60vw;


  }
  .land{
    height:190vw;
  }
  #button1{
    width:30vw;
    height:10vw;
    bottom:56vw;
    margin-left: 33vw;
  }
  #vallam{
    display: none;
  }
  .about{
    position:relative;
    top:50vw;
    width:80vw;
  }
  .about h1{
    font-size:9vw;
  }
  .about p{
    font-size: 5vw;
  }
  .contest{
    padding-top:180vw;
    height:120vw;
  }
  .contest h1{
    font-size: 12vw;

  }
  #card{
    width:85vw;
    padding:0;
  }
  .content{
    bottom:56vw;
    left:20vw;
    width:60vw;
    text-align: center;
  }
  #name{
    font-size: 9vw;
    margin-bottom:0;
  }
  #description{
    font-size:2vw;
  }
  #button2{
    width:20vw;
    font-size: 3vw;
    height:8vw;
    bottom:36vw;
    margin-left:38vw;
  }
  #right{
    width:10vw;
    bottom:10vw;
  }
  #left{
    width:10vw;
    bottom:10vw;
  }
  
  }



